@charset "utf-8";

/* cssリセット */

/*利用するタグによってこちらの内容は増やす*/

html,
body,
h1,
h2,
h3,
p,
dl,
dt,
dd,
ul,
li {
    margin: 0;
    padding: 0;
    line-height: 1;
    /*デフォルトの文字色、font-familyを予め当てておく*/
    color: #000;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
        "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
}

a {
    /*下線を消す*/
    text-decoration: none;
    /*色を消す*/
    color: inherit;
}

ul {
    /*左の「・」を消す*/
    list-style: none;
}

body {
    background-color: #eeeeee;
}

.box {
    max-width: 960px;
    margin: 0 auto;
}

h1 {
    font-size: 30px;
    color: #088272;
    text-align: center;
    padding: 50px 0px;
}

.card-wrap {
    display: flex;
    justify-content: space-between;
    margin: 0px 20px;
}

img {
    max-width: 100%;
}

.card-list {
    padding-bottom: 5px;
    margin: 0px 10px;
    background-color: #ffffff;
}

h2 {
    font-size: 25px;
    font-weight: bold;
    color: #088272;
    border-left: 8px solid #088272;
    padding: 3px;
    margin: 8px 8px;
}

p {
    line-height: normal;
    font-size: 16px;
    margin: 10px;
}

@media screen and (max-width: 400px) {
    .box {
        max-width: 400px;
    }

    .card-wrap {
        display: block;
    }

    .card-list {
        margin-bottom: 10px;
    }

    img {
        width: 100%;
    }

    h2 {
        font-size: 25px;
    }

    p {
        font-size: 15px;
    }
}
