@charset "utf-8";

/* cssリセット */

/*利用するタグによってこちらの内容は増やす*/

html,
body,
h1,
h2,
h3,
p,
dl,
dt,
dd,
ul,
li {
    margin: 0;
    padding: 0;
    line-height: 1;
    font-feature-settings: "palt";
    /*デフォルトの文字色、font-familyを予め当てておく*/
    color: #4f260b;
    font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3",
        "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "MS Ｐ明朝",
        "MS 明朝", serif;
}

a {
    /*下線を消す*/
    text-decoration: none;
    /*色を消す*/
    color: inherit;
    transition: 0.3s;
}

a:hover {
    opacity: 0.5;
}

ul {
    /*左の「・」を消す*/
    display: flex;
    list-style: none;
}

img {
    max-width: 100%;
    vertical-align: bottom;
    border: none;
}

/* ここから */
.body {
    background-color: #e8d9bf;
}

section {
    padding-top: 100px;
}

section h2 {
    text-align: center;
    height: 78px;
    padding-bottom: 40px;
}

/*ヘッダー*/
.header_slider img {
    width: 100%;
}

.header_wrap {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 7% 0 3%;
    width: 100%;
    box-sizing: border-box;
}

.header_logo {
    width: 226px;
}

.pc_nav ul {
    display: flex;
}

.pc_nav ul li {
    width: 105px;
    margin-left: 55px;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
        "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
    text-align: center;
}

/* リード文 */

.lead {
    max-width: 1000px;
    padding: 100px 0 0 0;
    text-align: center;
    margin: 0 auto;
}

.lead_1 {
    font-size: 30px;
}

.lead_2 {
    font-size: 82px;
    line-height: 1.17;
    margin: 40px 0;
}

.lead_3 {
    font-size: 23px;
    line-height: 1.65;
}

/* about us */

.about {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
}

.about img {
    border-bottom-right-radius: 82px;
    width: 100%;
}

.about li img {
    margin-top: 60px;
}

.about li img {
    width: 272px;
}

.about ul {
    display: block;
    padding-left: 90px;
}

h3 {
    font-size: 44px;
    line-height: 1.38;
    margin-top: 60px;
    margin-bottom: 40px;
    font-weight: lighter;
}

.about p {
    font-size: 16px;
    line-height: 1.625;
}

/* menu */

.menu {
    max-width: 1000px;
    margin: 0 auto;
    padding-right: 10px;
    padding-left: 10px;
}

.menu h2 img {
    width: 152px;
}

.menu ul {
    justify-content: space-between;
}

.menu li {
    width: 300px;
}

.menu li img {
    border-top-right-radius: 42px;
}

h4 {
    font-size: 38px;
    color: #d30202;
    font-weight: lighter;
    margin-left: 20px;
    margin-top: -20px;
    margin-bottom: 0;
}

.menu p {
    font-size: 17px;
    line-height: 1.47;
    margin-top: 15px;
}

/* ギャラリー */
.gallery {
    margin: 0 auto;
}

.gallery ul li {
    margin: 0 auto;
    width: 100%;
}

.gallery h2 {
    padding-bottom: 25px;
}

.gallery h2 img {
    width: 245px;
}

/* イベント */

.event {
    max-width: 1000px;
    margin: 0 auto;
    padding-right: 10px;
    padding-left: 10px;
}

.event h2 img {
    width: 174px;
}

.event ul {
    border: 3.6843px solid #4f260b;
    padding: 35px 160px;
    background-color: #fff;
}

.event p {
    line-height: 1.95;
    font-size: 23px;
    font-weight: 100;
}

.mar_50 {
    margin-right: 50px;
}

/* アクセス */
.access h2 img {
    width: 214px;
}

.map {
    height: 0;
    overflow: hidden;
    padding-bottom: 30%;
    position: relative;
}
iframe {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

/* footer */
footer {
    background-color: #fff;
}
.footer_box {
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 80px;
    display: flex;
}

.footer_box P {
    color: black;
    font-size: 20px;
    margin-left: 65px;
    line-height: 1.95;
}

.footer_logo {
    width: 220px;
}

.footer_copy {
    color: black;
    font-size: 16px;
    text-align: center;
    margin: 80px 0;
}

.pagetop {
    position: fixed;
    bottom: 40px;
    right: 40px;
    width: 125px;
}
