@charset "utf-8";

/* cssリセット */

/*利用するタグによってこちらの内容は増やす*/
html {
    scroll-behavior: smooth;
}

html,
body,
h1,
h2,
h3,
p,
dl,
dt,
dd,
ul,
li {
    margin: 0;
    padding: 0;
    line-height: 1;
    font-feature-settings: "palt";
    /*デフォルトの文字色、font-familyを予め当てておく*/
    color: #4f260b;
    font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3",
        "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "MS Ｐ明朝",
        "MS 明朝", serif;
}

a {
    /*下線を消す*/
    text-decoration: none;
    /*色を消す*/
    color: inherit;
    transition: 0.3s;
}

a:hover {
    opacity: 0.5;
}

ul {
    /*左の「・」を消す*/
    list-style: none;
}

img {
    max-width: 100%;
    vertical-align: bottom;
    border: none;
}

/* ここから */
.body {
    background-color: #e8d9bf;
}

section h2 {
    text-align: center;
}

/*ヘッダー*/
.header_slider img {
    width: 100%;
}

.header_wrap {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 7% 0 3%;
    width: 100%;
    box-sizing: border-box;
}

.header_logo {
    width: 226px;
}

.pc_nav ul {
    display: flex;
}

.pc_nav ul li {
    width: 105px;
    margin-left: 55px;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
        "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
    text-align: center;
}

/* リード文 */

.lead {
    max-width: 1000px;
    padding: 100px 0 40px 0;
    text-align: center;
    margin: 0 auto;
}

.lead_1 {
    font-size: 30px;
}

.lead_2 {
    font-size: 82px;
    letter-spacing: 0.1em;
    line-height: 1.17;
    margin-top: 50px;
}

.lead_3 {
    font-size: 23px;
    letter-spacing: 0.1em;
    line-height: 1.65;
    margin-top: 25px;
}

/* about us */

.about {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    padding-top: 50px;
}

.about_img {
    width: 50%;
}

.about_img img {
    border-bottom-right-radius: 82px;
    width: 100%;
}

.about_desc h2 {
    width: 272px;
}

.about_desc {
    display: block;
    width: 43%;
    margin-left: 80px;
    padding-top: 55px;
}

.about_copy {
    font-size: 44px;
    line-height: 1.38;
    margin-top: 40px;
    font-weight: 400;
}

.about_text {
    font-size: 16px;
    line-height: 1.625;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 5px;
    text-align: justify;
}

/* menu */

.menu {
    max-width: 1000px;
    margin: 0 auto;
    padding-right: 10px;
    padding-left: 10px;
}

.menu h2 {
    margin: 90px auto 45px;
    margin-bottom: 40px;
}

.menu h2 img {
    width: 152px;
}

.menu ul {
    display: flex;
    justify-content: space-between;
}

.menu li {
    width: 300px;
}

.menu li img {
    border-top-right-radius: 42px;
}

.menu h3 {
    font-size: 38px;
    color: #d30202;
    font-weight: lighter;
    margin-left: 10px;
    margin-top: -12px;
    margin-bottom: 0;
}

.menu p {
    font-size: 17px;
    line-height: 1.47;
    margin-top: 15px;
    text-align: justify;
}

/* ギャラリー */
.gallery {
    margin: 0 auto;
}

.gallery h2 {
    margin-top: 95px;
    margin-bottom: 25px;
}

.gallery h2 img {
    width: 245px;
}

.gallery_slider {
    display: flex;
}

/* イベント */

.event {
    max-width: 1000px;
    margin: 0 auto;
    padding-right: 10px;
    padding-left: 10px;
}

.event h2 {
    margin-top: 60px;
    margin-bottom: 30px;
}

.event h2 img {
    width: 174px;
}

.event ul {
    border: 3.6843px solid #4f260b;
    padding: 28px 155px;
    background-color: #fff;
}

.event li {
    line-height: 1.95;
    font-size: 23px;
    font-weight: 100;
}

.mar_50 {
    margin-right: 50px;
}

/* アクセス */
.access h2 {
    margin-top: 75px;
    margin-bottom: 40px;
}

.access h2 img {
    width: 214px;
}

iframe {
    width: 100%;
    height: 470px;
}

/* footer */
footer {
    background-color: #fff;
}
.footer_box {
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 70px;
    display: flex;
}

.footer_box P {
    color: black;
    font-size: 20px;
    margin-left: 65px;
    line-height: 1.95;
}

.footer_logo {
    width: 227px;
}

.footer_copy {
    color: black;
    font-size: 16px;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 80px;
}

.pagetop {
    position: fixed;
    bottom: 40px;
    right: 40px;
    width: 125px;
}
