@charset "utf-8";

/* cssリセット */

/*利用するタグによってこちらの内容は増やす*/
html {
    scroll-behavior: smooth;
}

html,
body,
h1,
h2,
h3,
p,
dl,
dt,
dd,
ul,
li {
    margin: 0;
    padding: 0;
    line-height: 1;
    font-feature-settings: "palt";
    /*デフォルトの文字色、font-familyを予め当てておく*/
    color: #4f260b;
    font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3",
        "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "MS Ｐ明朝",
        "MS 明朝", serif;
}

a {
    /*下線を消す*/
    text-decoration: none;
    /*色を消す*/
    color: inherit;
    transition: 0.3s;
}

a:hover {
    opacity: 0.5;
}

ul {
    /*左の「・」を消す*/
    list-style: none;
}

img {
    max-width: 100%;
    vertical-align: bottom;
    border: none;
}

/* ここから */
.body {
    background-color: #e8d9bf;
}

section h2 {
    text-align: center;
}

/*ヘッダー*/
.header_slider img {
    width: 100%;
}

.header_wrap {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 7% 0 3%;
    width: 100%;
    box-sizing: border-box;
}

.header_logo {
    width: 226px;
}

.pc_nav ul {
    display: flex;
}

.pc_nav ul li {
    width: 105px;
    margin-left: 55px;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
        "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
    text-align: center;
}

/* スライダー */
.slick-dots {
    bottom: 20px;
}

.slick-dots li button:before,
.slick-dots li.slick-active button:before {
    color: #fff;
}

.slick-dotted.slick-slider {
    margin-bottom: 0;
}

.sp_nav,
.sp_btn {
    display: none;
}

@media screen and (max-width: 1100px) {
    .pc_nav {
        display: none;
    }
    /* ハンバーガー */
    .sp_btn {
        display: block;
        position: absolute;
        top: 20px;
        right: 25px;
        height: 23px;
        cursor: pointer;
        z-index: 2;
    }
    .sp_btn span {
        display: block;
        position: relative;
        top: 10px;
        width: 33px;
        height: 3px;
        border-radius: 2px;
        background: #fff;
        transition: 0.3s;
    }
    .sp_btn span::before,
    .sp_btn span::after {
        content: "";
        display: block;
        position: absolute;
        width: 33px;
        height: 3px;
        border-radius: 2px;
        background: #fff;
        transition: 0.3s;
    }
    .sp_btn span::before {
        bottom: 10px;
    }
    .sp_btn span::after {
        top: 10px;
    }

    /* ハンバーガーメニュー 閉じる */
    .sp_btn.open span {
        background: transparent;
    }
    .sp_btn.open span::before {
        bottom: 0;
        transform: rotate(45deg);
    }
    .sp_btn.open span::after {
        top: 0;
        transform: rotate(135deg);
    }
    /* ハンバーガーメニュー*/
    .sp_nav {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.8);
        z-index: 1;
    }
    .sp_nav ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    .sp_nav ul li {
        padding: 20px 0;
        color: #fff;
        font-size: 18px;
        font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic",
            "メイリオ", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
    }
}

/* リード文 */

.lead {
    max-width: 1000px;
    padding: 100px 0 40px 0;
    text-align: center;
    margin: 0 auto;
}

.lead_1 {
    font-size: 30px;
}

.lead_2 {
    font-size: 82px;
    letter-spacing: 0.1em;
    line-height: 1.17;
    margin-top: 50px;
}

.lead_3 {
    font-size: 23px;
    letter-spacing: 0.1em;
    line-height: 1.65;
    margin-top: 25px;
}

.sp_only {
    display: none;
}

@media screen and (max-width: 1100px) {
    .lead_2 {
        font-size: 50px;
    }

    .lead_3 {
        font-size: 20px;
    }
}
@media screen and (max-width: 767px) {
    .lead {
        padding: 0;
    }

    .lead_1 {
        font-size: 16px;
        padding-top: 40px;
    }
    .lead_2 {
        font-size: 35px;
        margin-top: 30px;
    }

    .lead_3 {
        font-size: 16px;
        line-height: 1.8;
    }

    .sp_only {
        display: initial;
    }
}

/* about us */

.sp_about_img {
    display: none;
}

.about {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    padding-top: 50px;
}

.about_img {
    width: 50%;
}

.about_img img {
    border-bottom-right-radius: 82px;
    width: 100%;
}

.about_desc h2 {
    width: 272px;
}

.about_desc {
    display: block;
    width: 43%;
    margin-left: 80px;
    padding-top: 55px;
    padding-right: 10px;
}

.about_copy {
    font-size: 44px;
    line-height: 1.38;
    margin-top: 40px;
    font-weight: 400;
}

.about_text {
    font-size: 16px;
    line-height: 1.625;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 5px;
    text-align: justify;
}
@media screen and (max-width: 1100px) {
    .about_copy {
        font-size: 35px;
    }
    .about_desc h2 {
        width: 70%;
    }
}

@media screen and (max-width: 767px) {
    .sp_about_img {
        display: initial;
        width: 160px;
        margin: 0 auto;
        padding-bottom: 15px;
    }

    .about_desc h2 {
        display: none;
    }

    .about {
        flex-flow: column;
        justify-content: center;
    }

    .about_img {
        width: 100%;
    }
    .about_img img {
        border-bottom-right-radius: 0px;
        align-items: center;
    }
    .about_copy {
        font-size: 36px;
    }

    .about_desc {
        width: 100%;
        margin-left: 0px;
        padding: 0 20px;
        box-sizing: border-box;
    }

    .about_text {
        padding: 0;
    }
}
/* menu */

.menu {
    max-width: 1000px;
    margin: 0 auto;
    padding-right: 10px;
    padding-left: 10px;
}

.menu h2 {
    margin: 90px auto 45px;
    margin-bottom: 40px;
}

.menu h2 img {
    width: 152px;
}

.menu ul {
    display: flex;
    justify-content: space-between;
}

.menu li {
    width: 30%;
}

.menu li img {
    border-top-right-radius: 42px;
    width: 100%;
}

.menu h3 {
    font-size: 38px;
    color: #d30202;
    font-weight: lighter;
    margin-left: 10px;
    margin-top: -12px;
    margin-bottom: 0;
}

.menu p {
    font-size: 18px;
    line-height: 1.47;
    margin-top: 15px;
    text-align: justify;
}

@media screen and (max-width: 767px) {
    .menu h2 img {
        width: 87px;
    }
    .menu ul {
        flex-flow: column;
        align-items: center;
        padding: 0 20px;
    }

    .menu h3 {
        font-size: 40px;
    }
    .menu p {
        padding-bottom: 50px;
    }
    .menu li {
        width: 100%;
    }
}
/* ギャラリー */
.sp_gallery_slider {
    display: none;
}
.gallery {
    margin: 0 auto;
}

.gallery h2 {
    margin-top: 95px;
    margin-bottom: 25px;
}

.gallery h2 img {
    width: 245px;
}

.slick-arrow {
    display: block;
    position: absolute;
    z-index: 1;
}

.slick-next::before,
.slick-next::after,
.slick-prev::before,
.slick-prev::after {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    content: "";
    vertical-align: middle;
}
.slick-next::after,
.slick-prev::after {
    width: 30px;
    height: 30px;
    border-top: 5px solid #fff;
    border-right: 5px solid #fff;
}
/* next */

.slick-next {
    right: 22%;
}
.slick-next::after {
    right: 22%;
    transform: rotate(45deg);
}

/* prev */

.slick-prev {
    left: 22%;
}
.slick-prev::after {
    left: 22%;
    transform: rotate(-135deg);
}

.lb-data .lb-number {
    display: none !important;
}

@media screen and (max-width: 767px) {
    .sp_gallery_slider img {
        width: 100%;
    }

    .gallery h2 {
        margin-top: 40px;
    }
    .gallery h2 img {
        width: 142px;
    }

    .slick-slide img {
        width: 100%;
    }

    .slick-next::after,
    .slick-prev::after {
        width: 15px;
        height: 15px;
        border-top: 2px solid #fff;
        border-right: 2px solid #fff;
    }
    .slick-prev {
        left: 10%;
    }
    .slick-next {
        right: 10%;
    }
}

/* イベント */
.event {
    max-width: 1000px;
    margin: 0 auto;
    padding-right: 20px;
    padding-left: 20px;
}

.event h2 {
    margin-top: 60px;
    margin-bottom: 30px;
}

.event h2 img {
    width: 174px;
}

.pc_event {
    display: flex;
    justify-content: center;
    border: 3.6843px solid #4f260b;
    background-color: #fff;
    padding: 28px;
}

.pc_event li {
    line-height: 1.95;
    font-size: 23px;
    font-weight: 100;
}

.mar_50 {
    margin-right: 50px;
}

.pc_event a {
    text-decoration: underline;
}

@media screen and (max-width: 767px) {
    .event h2 {
        max-width: 100%;
        margin: 0;
        padding: 35px 0 20px 0;
    }

    .event h2 img {
        width: 101px;
    }

    .pc_event {
        padding: 25px 15px 25px 30px;
    }

    .pc_event ul {
        max-width: 100%;
    }

    .pc_event li time {
        display: block;
    }

    .pc_event li {
        font-size: 16px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}
/* アクセス */

.access h2 {
    margin-top: 75px;
    margin-bottom: 40px;
}

.access h2 img {
    width: 214px;
}

iframe {
    width: 100%;
    height: 470px;
    display: block;
}

@media screen and (max-width: 767px) {
    iframe {
        height: 250px;
    }
    .access h2 {
        margin: 0;
        padding: 30px 0 10px 0;
    }
    .access h2 img {
        width: 124px;
    }
}

/* footer */
footer {
    background-color: #fff;
}
.footer_box {
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 70px;
    display: flex;
}

.footer_box P {
    color: black;
    font-size: 20px;
    margin-left: 65px;
    line-height: 1.95;
}

.footer_logo {
    width: 227px;
}

.footer_copy {
    color: black;
    font-size: 16px;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 80px;
}

.pagetop {
    position: fixed;
    bottom: 40px;
    right: 40px;
}

.pagetop img {
    width: 125px;
}

@media screen and (max-width: 767px) {
    .footer_box {
        flex-flow: column;
    }
    .footer_logo {
        padding-left: 20px;
    }
    .footer_box P {
        font-size: 18px;
        margin-left: 20px;
        margin-top: 30px;
    }

    .pagetop img {
        width: 100px;
    }

    .pagetop {
        right: 15px;
    }
}
